.wrapper {
    max-width: 440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column; 
    max-width: 440px;
    width: 100%;
    height: 340px;
    justify-content: space-evenly;
}

.input{
    height: 90px;
}

.errorWrapper{
    height: 35px;
    color:  red;
    padding: 10px;
    text-align: center;
}

