
.wrapper {
    width: fit-content;
    margin: 0 auto;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper form{
    width: 440px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inputHolder{
    margin-bottom: 15px;
}
.worning{
    font-size: large;
    color: red;
}
.wrapper input {
    width: 440px;
    height: 25px;
    border: 1px solid blue;
    border-radius: 2px;
    outline-color: blue;
}

.wrapper button{
    padding: 10px;
    margin-top: 15px;
    background-color: rgb(101, 101, 248);
    border: none;
    color: white;
    border-radius: 4px;
}

