.wrapper{
    background-color: rgb(226, 226, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    box-sizing: border-box;
    height: calc(100vh - 90px)
}